<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>CIS 197 Stock Ticker</title>

        <script src="js/lib/jquery-1.11.3.min.js"></script>
        <script src="js/lib/underscore-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/handlebars.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class = "striped-background">
    <div id = "alert"></div>
    <div class = "internships-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" id="app-container">
                    <h1 align="left">Internship Manager</h1>
                </div>
            </div>
        </div>

        <script id="add-internship-template" type="text/x-handlebars-template">
            <div class="add-internship">
                <table>
                    <thead>
                    <tr class="row">
                        <th class="col-md-3">Company Name</th>
                        <th class="col-md-3">Link</th>
                        <th class="col-md-3">Status</th>
                        <th class="col-md-3">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-md-6"><input type = "text" id = "companyName"></td>
                        <td class="col-md-6"><input type = "text" id = "companyLink"></td>
                        <td class="col-md-6">
                            <select class = "form-control enforce-min-width" id = "companyStatus">
                                <option> Accepted </option>
                                <option> Pending </option>
                                <option> Rejected </option>
                            </select>
                        </td>
                        <td class="col-md-6"><button type="button" class="btn btn-default add-Internship" symbol="{{symbol}}" price="{{price}}">Add</button></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </script>

        <script id="internship-template" type="text/x-handlebars-template">
            <h2> Internships </h2>

            <table class="internship-table" class="table table-hover">
                <thead>
                    <tr class="row">
                        <th class="col-md-6">Company Name</th>
                        <th class="col-md-6">Application Link</th>
                        <th class="col-md-6">Status</th>
                    </tr>
                </thead>
                <tbody>
                {{#if internships.length}}
                {{#each internships}}
                    <tr class="row">
                        <td class="col-md-6">{{name}}</td>
                        <td class="col-md-6"><a href = {{link}} target = "_blank">Link</a></td>
                        <td class="col-md-6 enforce-min-width">
                            <select class = "form-control company-status" id = {{name}} data-selected = {{status}}>
                                <option class = "accepted"> Accepted </option>
                                <option class = "pending"> Pending </option>
                                <option class = "rejected"> Rejected </option>
                            </select>
                        </td>
                        <td class="col-md-6"><button type="button" class="btn btn-default delete-internship" company-name="{{name}}">Delete</button></td>
                    </tr>
                {{/each}}
                {{/if}}

                </tbody>
            </table>
            <br>
            <button type="button" class="btn btn-default" id = "logout">Sign out</button>
            </script>
        </div>

        <script src="js/models/InternshipModel.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/collections/InternshipCollection.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/views/InternshipView.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/views/AddInternshipView.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/init.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
