<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>CIS 197 Stock Ticker</title>
        <!--<script src="../public/js/lib/jquery-1.11.3.min.js"></script>-->
        <!--<script src="../public/js/lib/underscore-min.js" type="text/javascript" charset="utf-8"></script>-->
        <!--<script src="../public/js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>-->
        <!--<script src="../public/js/lib/handlebars.js" type="text/javascript" charset="utf-8"></script>-->
        <!--<script src="../public/js/lib/socket.io.js" type="text/javascript" charset="utf-8"></script>-->
        <!--<script src="../public/js/lib/bootstrap.min.js"></script>-->
<!---->
        <script src="js/lib/jquery-1.11.3.min.js"></script>
        <script src="js/lib/underscore-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/handlebars.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/socket.io.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" id="app-container">
                    <h1 align="center">CIS 197 Portfolio Manager</h1>
                    <hr />
                </div>
            </div>
        </div>


        <script id="search-bar-template" type="text/x-handlebars-template">
            <div class="col-md-6  col-md-offset-3">
                <input type="text" name="search" class="search form-control" value="" autocomplete="off" placeholder="Search for..."/>
            </div><br><br>
        </script>

        <script id="search-results-template" type="text/x-handlebars-template">
            <div class="search-results">

                <table class="result-table" class="table table-hover">
                    <thead>
                    <tr class="row">
                        <th class="col-md-6">Company Name</th>
                        <th class="col-md-6">Link</th>
                        <th class="col-md-6">Status</th>
                        <th class="col-md-6">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if results.length}}
                    {{#each results}}
                        <tr class="row">
                            <td class="col-md-6"><a href="#{{symbol}}">{{symbol}}</a></td>
                            <td class="col-md-6">{{price}}</td>
                            <td class="col-md-6">{{price}}</td>
                            <td class="col-md-6"><button type="button" class="btn btn-default add-stock" symbol="{{symbol}}" price="{{price}}">Add</button></td>
                        </tr>
                    {{/each}}
                    {{/if}}
                    <tr class="row">
                        <td class="col-md-6"><input type = "text" id = "companyName"></td>
                        <td class="col-md-6"><input type = "text" id = "companyLink"></td>
                        <td class="col-md-6">
                            <select class = "form-control" id = "companyStatus">
                                <option> Accepted </option>
                                <option> Pending </option>
                                <option> Rejected </option>
                            </select>
                        </td>
                        <td class="col-md-6"><button type="button" class="btn btn-default add-stock" symbol="{{symbol}}" price="{{price}}">Add</button></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </script>

        <script id="portfolio-template" type="text/x-handlebars-template">
            <h2> My Portfolio </h2>

            <table class="portfolio-table" class="table table-hover">
                <thead>
                    <tr class="row">
                        <th class="col-md-6">Company Name</th>
                        <th class="col-md-6">Link</th>
                        <th class="col-md-6">Status</th>
                    </tr>
                </thead>
                <tbody>
                {{#if stocks.length}}
                {{#each stocks}}
                    <tr class="row">
                        <td class="col-md-6">{{name}}</td>
                        <td class="col-md-6">{{link}}</td>
                        <td class="col-md-6">{{status}}</td>
                        <td class="col-md-6"><button type="button" class="btn btn-default delete-stock" symbol="{{name}}">Delete</button></td>
                    </tr>
                {{/each}}
                {{/if}}

                </tbody>
            </table>

        </script>

        <script id="single-stock-template" type="text/x-handlebars-template">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div><span class="single-stock symbol">{{symbol}}:</span> <span class="single-stock price">{{price}}</span></div>
                </div>
            </div>
        </script>
        <script src="js/models/ClientModel.js" type="text/javascript" charset="utr-8"></script>
        <script src="js/models/StockModel.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/collections/StockCollection.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/views/PortfolioView.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/views/SearchView.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/views/SingleStockView.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/routers/TickerRouter.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/init.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
